<div class=" d-none d-sm-block" [ngClass]="getCurrentThemeClass('header_component')">
  <ul class="d-flex justify-content-between mb-0 bod">
    <li class="d-flex justify-content-start col-3">
        <img src="assets/image/home/My.png" class="img-icon" routerLink="/home">
          <span class="firstLetter order_"  routerLink="/home">MK</span>
    </li>
    <li class="m-auto col_center col-4">
      <ul class="d-flex justify-content-between">
        <!-- routerLink="/home" routerLinkActive="active-page" -->
        <li class="page Ul"  (click)="scrollToSection('home')" id="home">{{'header.home'|translate}}</li>
        <li class="page" (click)="scrollToSection('skils')" id="skils">{{'header.skils'|translate}}</li>
        <li class="page" (click)="scrollToSection('projects')" id="projects">{{'header.projects'|translate}}</li>
        <li class="page" (click)="scrollToSection('about')" id="about">{{'header.about'|translate}}</li>
        <li class="page" (click)="scrollToSection('contact')" id="contact">{{'header.contact'|translate}}</li>
      </ul>
    </li>
    <li class="d-flex justify-content-end col-3">
      <div class="d-flex gap-2">
        <button class="btn button1" type="button">
          <img (click)="switchLanguage('ar') " *ngIf="lang === 'en'" src="assets/image/Lang/Ellipse3.svg" alt=""
            style="width: 35px;border:1px solid rgb(163, 163, 163);border-radius: 50%;">
          <img (click)="switchLanguage('en') " *ngIf="lang === 'ar'" src="assets/image/Lang/Ellipse5.svg" alt=""
            style="width: 35px;border:1px solid rgb(163, 163, 163);border-radius: 50%;">
        </button>
        <div class="dark_mode m-auto mb-0">
          <label class="ui-switch">
            <input type="checkbox" (change)="toggleDarkMode()" [checked]="isDark">
            <div class="slider" >
              <div class="circle"></div>
            </div>
          </label>          
        </div>
        <!-- <div class="button2">
          <i class="fa-brands fa-instagram"></i>
        </div>
        <div class="button3">
          <i class="fa-brands fa-x-twitter"></i>
        </div>
        <div class="button4">
          <i class="fa-brands fa-facebook"></i>
        </div> -->
      </div>
    </li>
  </ul>
</div>
<div class="d-block d-sm-none" [ngClass]="getCurrentThemeClass('header_component_phone')">
  <ul class="d-flex justify-content-between mb-0 bod">
    <li class="d-flex justify-content-start col-3">
      <img src="assets/image/home/My.png" class="img-icon" routerLink="/home">
      <span class="firstLetter order_"  routerLink="/home">MK</span>
    </li>
    <li class="d-flex justify-content-end col-3">
      <div class="d-flex gap-2">
        <button class="btn button1" type="button">
          <img (click)="switchLanguage('ar') " *ngIf="lang === 'en'" src="assets/image/Lang/Ellipse3.svg" alt=""
            style="width: 35px;">
          <img (click)="switchLanguage('en') " *ngIf="lang === 'ar'" src="assets/image/Lang/Ellipse5.svg" alt=""
            style="width: 35px;">
        </button>
        <button class="btn btn_offcanvas" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasExample"
          aria-controls="offcanvasExample">
          <i class="fa-solid fa-bars "></i>
        </button>
      </div>
    </li>
  </ul>

  <div class="offcanvas offcanvas-start w-75  p-3" tabindex="-1" id="offcanvasExample"
    aria-labelledby="offcanvasExampleLabel"  #menuContact>
    <div class="offcanvas-header w-100">
      <h5 class="offcanvas-title w-100" id="offcanvasExampleLabel">
        <div class="d-flex justify-content-between">
          <div class="dark_mode  mb-0">
            <label class="ui-switch">
              <input type="checkbox" (change)="toggleDarkMode()" [checked]="isDark">
              <div class="slider">
                <div class="circle"></div>
              </div>
            </label>          
          </div>
          <div >
            <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
          </div>
        </div>
      </h5>
    </div>
    <div class="offcanvas-body">
      <ul class="gap-4 mt-5">
        <li class="page" (click)="toggleMenu()" (click)="scrollToSection('home')" id="home">{{'header.home'|translate}}</li>
        <li class="page mt-3" (click)="toggleMenu()" (click)="scrollToSection('skils')" id="skils">{{'header.skils'|translate}}</li>
        <li class="page mt-3" (click)="toggleMenu()" (click)="scrollToSection('projects')" id="projects">{{'header.projects'|translate}}</li>
        <li class="page mt-3" (click)="toggleMenu()" (click)="scrollToSection('about')" id="about">{{'header.about'|translate}}</li>
        <li class="page mt-3" (click)="toggleMenu()" (click)="scrollToSection('contact')" id="contact">{{'header.contact'|translate}}</li>
      </ul>
    </div>
  </div>
</div>
<div class="pad"></div>
<app-screen-loadar></app-screen-loadar>

<div  class="main" [ngClass]="{'show-scrollTop': windowScrolled}">
  <div class="redes_style" >
    <div class="redes">
      <a class="instagram" href="#">
        <i class="fa-brands fa-instagram"></i>
      </a>
      <a class="facebook" href="#">
        <i class="fa-brands fa-square-facebook"></i>
      </a>
      <a class="twitter" href="#">
        <i class="fa-brands fa-x-twitter"></i>
      </a>
      <a class="discord" href="#">
        <i class="fa-brands fa-linkedin-in"></i>
      </a>
    </div>
  </div>
</div>

<div class="main" (click)="scrollToTop()" [ngClass]="{'show-scrollTop': windowScrolled}">
  <p class="scroll"><i class=" fa-solid fa-arrow-up"></i></p>
</div>
