@import "maxins.scss";
@import "variables.scss";


* {
  box-sizing: border-box;
  padding: 0;

  -webkit-user-select: none;
  -webkit-touch-callout: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

// ::-webkit-scrollbar {
//   width:7px;
//   height:7px;
// }
// ::-webkit-scrollbar-track {
//   background:#fff;
  
// }
// ::-webkit-scrollbar-thumb {
//  background:black;
//  border-radius:50px
// }

// *::-webkit-scrollbar,
// *::-webkit-scrollbar-thumb {
//   width: 15px;
//   border-radius: 20px;
//   background-clip: padding-box;
//   border: 4px solid transparent;
// }

// *::-webkit-scrollbar-thumb {        
//   box-shadow: inset 0 0 0 10px;
// }

html,
body {
  background-color: white !important;
  min-height: 100%;
  overflow: auto;

}