@import "maxins";
@import "variables";
@import "font";


* {
  box-sizing: border-box;
  padding: 0;

  -webkit-user-select: none;
  -webkit-touch-callout: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

// ::-webkit-scrollbar {
//   width:7px;
//   height:7px;
// }
// ::-webkit-scrollbar-track {
//   background:#fff;

// }
// ::-webkit-scrollbar-thumb {
//  background:black;
//  border-radius:50px
// }

// *::-webkit-scrollbar,
// *::-webkit-scrollbar-thumb {
//   width: 15px;
//   border-radius: 20px;
//   background-clip: padding-box;
//   border: 4px solid transparent;
// }

// *::-webkit-scrollbar-thumb {        
//   box-shadow: inset 0 0 0 10px;
// }

html,
body {
  background-color: white !important;
  min-height: 100%;
  overflow: auto;

}


// .header_component,
// .header_component_light,.header_component_phone,
// .header_component_phone_light {
//   .img-icon {
//     // arabic
//     @include rtl(order, 2);

//     // english
//     @include ltr(order, 1);

//   }

//   .order_ {
//     // arabic
//     @include rtl(order, 1);

//     // english
//     @include ltr(order, 2);
//   }
// }
