<section [ngClass]="getCurrentThemeClass('Services')">
  <div class="pt-4">
    <div class="title-section">
      <app-title-section [NameTitle]="NameTitle" />
    </div>
    <div class="row m-0 p-3 d-flex">
      <div class="col-12 col-sm-6 col-md-3 p-3" *ngFor="let item of itemServices" #ServicesAnimation>
        <div class="style_services">
          <i [ngClass]="item.icon"></i>
          <h1 class="title mb-3">{{ item.title | translate }}</h1>
          <p class="desc mb-0">{{ item.desc | translate }}</p>
        </div>
      </div>
    </div>
  </div>
</section>
