<section [ngClass]="getCurrentThemeClass('aboutUs')">
  <div class="pt-4">
    <app-title-section [NameTitle]="NameTitle" />
    <div class="row m-0 p-0 d-flex justify-content-center mt-4  Div_detail">
      <div class="col-12 col-sm-7 col-md-6 AboutusAnimation1">
        <h1 class="heading" #AboutusAnimation>{{ 'aboutus.heading' | translate }}</h1>
        <div class="desc" #AboutusAnimation>{{ 'aboutus.desc' | translate }}</div>
        <div>
          <div class="row m-0 p-0 Div_ex m-auto p-2">
            <div *ngFor="let item of aboutUsItems" class="col-6 row m-0 p-2 p-sm-0 mt-4" #AboutusAnimation>
              <div class="col-3 m-auto">
                <i class="fa-solid {{ item.icon }} img_Section20"></i>
              </div>
              <div class="col-9 m-auto">
                <h2 class="style_iconTitle">{{ item.title | translate }}</h2>
                <p class="style_iconDesc">{{ item.desc | translate }}</p>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-12 col-sm-5 col-md-6 d-flex AboutusAnimation2">
        <img loading="lazy" src="assets/image/aboutus/4.png" class="w-100 h-auto m-auto" #AboutusAnimation alt="">
      </div>
    </div>
  </div>
</section>
