@import "../../../../../assets/style/main.scss";

.aboutUs,
.aboutUs_light {
  background-color: white;

  .Div_detail {
    padding-inline: 2rem !important;
    @include tablet-view-down {
    padding-inline: 1rem !important;
    }
    .heading {
      font-size: 28px;
      padding: 10px;
      color: black;
      font-family: var(--Nunito);
      font-weight: bold;
      font-display: swap;

      @include laptop-Inch-15 {
        font-size: 24px;
      }

      @include laptop-Inch-14 {
        font-size: 23px;
      }

      @include laptop-Inch-13 {
        font-size: 21px;
      }

      @include laptop-Inch-12 {
        font-size: 19px;
      }

      @include laptop-Inch-11 {
        font-size: 17px;
      }

      @include tablet-view {
        font-size: 16px;
      }

      @include tablet-view-down {
        font-size: 15px;
        margin-bottom: 0 !important;
      }

      @include mobile-only {
        font-size: 20px;
        padding-bottom: 0px;
      }
    }

    .desc {
      padding: 10px;
      background: linear-gradient(to right, black, #777777);
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
      background-clip: text;
      color: transparent;
      font-family: var(--Nunito);
      font-weight: bold;
      font-size: 20px;
      display: flex;
      font-display: swap;

      @include laptop-Inch-15 {
        font-size: 18px;
      }

      @include laptop-Inch-14 {
        font-size: 17px;
      }

      @include laptop-Inch-13 {
        font-size: 16px;
      }

      @include laptop-Inch-12 {
        font-size: 14px;
      }

      @include laptop-Inch-11 {
        font-size: 13px;
      }

      @include tablet-view {
        font-size: 13px;
      }

      @include tablet-view-down {
        font-size: 12px;
      }

      @include mobile-only {
        font-size: 15px;
        padding-bottom: 0px;
        width: 100%;
      }
    }

    .Div_ex {
      .img_Section20 {
        color: black;
        font-size: 40px;
        display: flex;
        justify-content: center;
        font-display: swap;
        @include laptop-Inch-15 {
          font-size: 38px;
        }
  
        @include laptop-Inch-14 {
          font-size: 37px;
        }
  
        @include laptop-Inch-13 {
          font-size: 36px;
        }
  
        @include laptop-Inch-12 {
          font-size: 35px;
        }
  
        @include laptop-Inch-11 {
          font-size: 32px;
        }
  
        @include tablet-view {
          font-size: 30px;
        }
  
        @include tablet-view-down {
          font-size: 25px;
        }
        @include mobile-only {
          font-size: 22px;
        }
      }

      .style_iconTitle {
        color: black;
        font-family: var(--Nunito);
        font-size: 20px;
        font-style: normal;
        font-weight: 700;
        line-height: auto;
        font-display: swap;
        @include laptop-Inch-15 {
          font-size: 18px;
        }
  
        @include laptop-Inch-14 {
          font-size: 17px;
        }
  
        @include laptop-Inch-13 {
          font-size: 16px;
        }
  
        @include laptop-Inch-12 {
          font-size: 15px;
        }
  
        @include laptop-Inch-11 {
          font-size: 14px;
        }
  
        @include tablet-view {
          font-size: 14px;
        }
  
        @include tablet-view-down {
          font-size: 12px;
        }
        @include mobile-only {
          font-size: 12px;
          line-height: normal;
        }
      }

      .style_iconDesc {
        color: #7f7f7f;
        font-family: var(--Nunito);
        font-size: 18px;
        font-style: normal;
        font-weight: 800;
        line-height: auto;
        font-display: swap;
        @include laptop-Inch-15 {
          font-size: 16px;
        }
  
        @include laptop-Inch-14 {
          font-size: 16px;
        }
  
        @include laptop-Inch-13 {
          font-size: 15px;
        }
  
        @include laptop-Inch-12 {
          font-size: 15px;
        }
  
        @include laptop-Inch-11 {
          font-size: 14px;
        }
  
        @include tablet-view {
          font-size: 13px;
        }
  
        @include tablet-view-down {
          font-size: 12px;
        }
        @include mobile-only {
          font-size: 11px;
          line-height: normal;

        }
      }
    }
  }
}

.aboutUs_light {
  .Div_detail {
    .heading {
      color: #002542;
    }

    .desc {
      background: linear-gradient(to right, #002542, #00254294);
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
      background-clip: text;
      color: transparent;
    }

    .Div_ex {
      .img_Section20 {
        color: #002542;
      }

      .style_iconTitle {
        color: #002542;
      }
    }
  }
}
