@import "../../../../assets/style/main.scss";


.footer_top,
.footer_top_light {
  background-color: white;

  .div_style_ {
    padding-inline: 5.6rem;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 32px;
    border-inline-end: 0.5px solid #002542;
    align-items: center;
    text-align: center;

    @include laptop-Inch-14 {
      padding-inline: 2.2rem;
    }

    @include laptop-Inch-11 {
      padding-inline: 3rem;
    }

    @include tablet-view {
      padding-inline: 1.6rem;
      padding-inline: 2rem;
    }

    @include tablet-view-down {
      padding-inline: 1.5rem;
      gap: 25px;
    }

    @include mobile-only {
      padding-inline: 1.6rem;
      border-inline-end: 0px solid #002542;
      width: auto;
      padding-bottom: 26px;
    }

    .div1phone_ {
      @include mobile-only {
        display: flex;
        justify-content: center;
      }
    }

    .div2phone_ {
      @include mobile-only {
        margin: auto;
      }
    }


    img {
      cursor: pointer;
    }


    .shadow_icon {
      font-size: 20px;
      border-radius: 50%;
      padding: 0px 10px;
      width: 40px;
      box-shadow: 0px 7px 10px 1px rgba(75, 75, 75, 0.1);
      height: 40px;
      background-color: #f7f5f5;
      color: #000000;
      cursor: pointer;

      @include tablet-view {
        font-size: 18px;
        height: 35px;
        width: 35px;
      }

      @include tablet-view-down {
        font-size: 16px;
        height: 30px;
        width: 30px;
      }

      i {
        color: #000000 !important;
        font-size: 18px;
      }
    }

  }

  .div_route {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 20px;
    padding-inline: 2rem;

    @include laptop-Inch-11 {
      gap: 14px;
    }

    @include tablet-view {
      gap: 10px;
    }

    @include tablet-view-down {
      padding-inline: 1.5rem;
      gap: 7px;
    }

    @include mobile-only {
      display: flex;
      flex-direction: inherit;
      align-items: flex-start;
      gap: 15px;
      padding-inline: 0rem !important;
      border-top: 0.1px solid #002542;
      border-bottom: 0.1px solid #002542;
      width: auto;
      padding-bottom: 15px;
      padding-top: 15px;
    }


    a {
      text-decoration: none;
      color: #000000;
      font-family: var(--Nunito);
      font-size: 16px;
      font-style: normal;
      font-weight: 600;
      line-height: 24px;
      cursor: pointer;

      @include tablet-view-down {
        font-size: 14px;
      }
    }
  }

  .div_details_ {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 20px;
    align-self: center;

    @include mobile-only {
      padding-inline: 3rem;
      padding-top: 1rem;
    }


    div {
      color: #000000;
      font-family: var(--Nunito);
      font-size: 16px;
      font-style: normal;
      font-weight: 400;
      line-height: 140%;
      display: inline-flex;
      gap: 15px;

      @include laptop-Inch-13 {
        gap: 10px;
      }

      @include tablet-view-down {
        font-size: 14px;
      }

      i {
        color: #000000;
        font-size: 24px;

        @include tablet-view-down {
          font-size: 18px;
        }
      }
    }


  }

}

.footer_top_light {
  background-color: white;

  .div_style_ {
    .shadow_icon {
      color: #002542;

      i {
        color: #002542 !important;
        font-size: 18px;
      }
    }
  }

  .div_route {
    div {
      color: #002542;
    }

    a {
      color: #002542;
    }
  }

  .div_details_ {
    div {
      color: #002542;

      i {
        color: #002542;
      }
    }
  }
}



.footerBottom,
.footerBottom_light {
  .footer {
    background-color: black;

    .footer_copyright {
      font-family: var(--Nunito);
      font-weight: 400;
      font-size: 0.9em;
      line-height: 26px;
      text-align: center;
      color: var(--white);
    }
  }
}

.footerBottom_light {
  .footer {
    background-color: #2c374b;
  }
}





// .disabled-click {
//   pointer-events: none;
// }
