      <!-- section 1 Home -->
      <div class="mb-0" [ngClass]="getCurrentThemeClass('home')">
        <section class="row col-12 ">
          <div class="col-12 col-sm-7 col-md-7">
            <section>
              <div class="paddingTXT">
                <b class=" txt txt2">Hello, I'm </b>
                <b class=" txt fonts ">Makaruos Mekhail Yousab</b>
                <b class=" txt txt2">Full Stack Dot Net Developer</b>
                <b class="txt txt2 txtHeight">
                  <p [innerHTML]="output"></p>
                </b>
                <a href="https://linkedin.com/in/makaruos-mekhail-144862257" target="_blank"
                  style="text-decoration: none"><i class="fa-brands fa-linkedin iconsHome"
                    style="margin-left: 0em !important;"></i>
                </a>
                <a href="https://github.com/makaruos-mekhail" target="_blank"><i
                    class="fa-brands fa-github iconsHome"></i>
                </a>
              </div>
            </section>
          </div>
          <div class="div-center col-12 col-sm-5 col-md-5">
            <div class="">
              <img src="assets/image/home/IMG_Me.png" alt="" class="img-fluid">
            </div>
          </div>
        </section>
      </div>



      <!-- section 2 About-->
      <aside class="image-container">
        <article>
          <p id="#About" style="color: brown;">About</p>

        </article>
      </aside>
      <!-- section 2 -->


      <!-- section 3 -->
      <aside class="image-container2">
        <article>
          <p id="#Skils" style="color: brown;">Skils</p>

        </article>
      </aside>
      <!-- section  3-->

      <!-- section 4 -->
      <aside class="image-container3">
        <article>
          <p id="#Projects" style="color: brown;">Projects</p>
        </article>
      </aside>
      <!-- section 4 -->

      <!-- section 5 -->
      <aside class="image-container3">
        <article>
          <p id="#Contact" style="color: brown;">Contact</p>
        </article>
      </aside>
      <!-- section 5 -->
