@import "../../../../../../assets/style/main.scss";

.Skils,
.Skils_light {
  background-color: white;
  height: auto;
  padding-top: 2rem;

  // .title-section{
  //   ::ng-deep .item_header {
  //     .txt-title{
  //       color: #be8e49 !important;
  //       padding: 10px 0px;
  //       font-size: 30px !important;
  //     }
  //     hr.line {
  //       border: 1px solid #be8e49 !important;
  //     }
  //   }
  // }

  .page {
    display: flex;
    justify-content: center;
    align-items: center;
    height: auto;

    .grid-carousel {
      display: grid;
      grid-template-columns: repeat(3, 1fr);
      grid-template-rows: repeat(3, 1fr);
      gap: 10px;
      width: 500px;
      height: 500px;
      animation: block-rotate 100000ms linear infinite;

      @include tablet-view {
        gap: 15px;
        width: 350px;
        height: 350px;
      }

      @include tablet-view-down {
        gap: 0px;
        width: 270px;
        height: 270px;
      }

      @include mobile-only {
        gap: 35px;
        width: 300px;
        height: 300px;
      }
    }

    .box {
      width: 100%;
      height: 100%;
      display: flex;
      align-items: center;
      justify-content: center;

      &-1 .button {
        margin-right: -60%;
        margin-bottom: -60%;
      }

      &-3 .button {
        margin-left: -60%;
        margin-bottom: -60%;
      }

      &-7 .button {
        margin-right: -60%;
        margin-top: -60%;
      }

      &-9 .button {
        margin-left: -60%;
        margin-top: -60%;
      }
    }

    .button {
      padding: 0;
      background-color: transparent;
      border: none;
      cursor: pointer;
      transition: 0.3s;

      &:hover {
        scale: 1.2;
      }

      &__image {
        width: 50px;
        height: 50px;
        display: block;
        backdrop-filter: drop-shadow(0 0 5px #000);
        animation: img-rotate 100000ms linear infinite;

        @include tablet-view-down {
          width: 35px;
          height: 35px;
        }

        @include mobile-only {
          width: 35px;
          height: 35px;
        }
      }
    }

    @keyframes block-rotate {
      0% {
        rotate: 0;
      }

      50% {}

      100% {
        rotate: 360deg;
      }
    }

    @keyframes img-rotate {
      0% {
        rotate: 0;
      }

      50% {}

      100% {
        rotate: -360deg;
      }
    }
  }


  .Font_style {
    padding: 10px;
    background: linear-gradient(to right, black, #777777);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    color: transparent;
    font-weight: bold;
    font-size: 1.2em;
    display: flex;
    width: 90%;
    font-family: var(--Nunito);

    @include laptop-Inch-13 {
      font-size: 1.1em;
      margin-bottom: 0px;
    }

    @include laptop-Inch-12 {
      font-size: 1em !important;
      margin-bottom: 0px;
    }

    @include laptop-Inch-11 {
      font-size: 1em !important;
      margin-bottom: 0px;
    }

    @include tablet-view {
      font-size: 0.7em !important;
      margin-bottom: 0px;
    }

    @include tablet-view-down {
      font-size: 0.6em !important;
      margin-bottom: 0px;
    }

    @include mobile-only {
      font-size: 13px;
      padding-bottom: 0px;
      padding-inline: 2.5em;
      margin-bottom: 0px;
      width: 100%;
    }
  }

  .order_2 {
    @include mobile-only {
      order: 1;
    }
  }

  .order_1 {
    @include mobile-only {
      order: 2;
    }
  }

}

.Skils_light {
  background-color: white;

  .Font_style {
    background: linear-gradient(to right, #002542, #00254294);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    color: transparent;
  }
}
